<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
        <img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/icons/favicon-96x96.png" | relative_url }}" alt="" width="48" height="48">
        <small class="d-block mb-3 text-muted">&copy; 2019-{{ site.time | date: '%Y' }}</small>
        </div>
        <div class="col-6 col-md">
        <h5>{{ site.data.translations['page_tarot_title'] }}</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/{{ page.lang }}/tarot/rws/main.html">{{ site.data.translations['deck_rws_name'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/tarot/cbdtm/main.html">{{ site.data.translations['deck_tm_name'] }}</a></li>
        </ul>
        </div>
        <div class="col-6 col-md">
        <h5>{{ site.data.translations['page_oracle_title'] }}</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/{{ page.lang }}/oracle/zo/main.html">{{ site.data.translations['deck_ao_name'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/oracle/go/main.html">{{ site.data.translations['deck_pc_name'] }}</a></li>
        </ul>
        </div>
        <div class="col-6 col-md">
            <h5>{{ site.data.translations['page_ouija_title'] }}</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/{{ page.lang }}/ouija/gb/main.html">{{ site.data.translations['deck_ogr_name'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/ouija/hb/main.html">{{ site.data.translations['deck_ohe_name'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/ouija/rb/main.html">{{ site.data.translations['deck_oru_name'] }}</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
        <h5>{{ site.data.translations['group_about_title'] }}</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/{{ page.lang }}/{{ site.data.translations['creator_link_name'] }}.html">{{ site.data.translations['creator_link_title'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/{{ site.data.translations['open_source_link_name'] }}.html">{{ site.data.translations['open_source_link_title'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/{{ site.data.translations['privacy_link_name'] }}.html">{{ site.data.translations['privacy_link_title'] }}</a></li>
            <li><a class="text-muted" href="/{{ page.lang }}/{{ site.data.translations['license_link_name'] }}.html">{{ site.data.translations['license_link_title'] }}</a></li>
        </ul>
        </div>
    </div>
</footer>

<script src="/assets/scripts/night_day.js"></script>
