<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
        <li class="breadcrumb-item"><a href="../main.html">Oracle</a></li>
        <li class="breadcrumb-item"><a href="main.html">Zodiac</a></li>
        <li class="breadcrumb-item active" aria-current="page">Game</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Zodiac Oracle Game</h1>
    <!-- img class="img-thumbnail float-left mr-4" src="../../../assets/images/zo-splash-1-1024.jpg" alt="" width="200" height="200" -->
    <p class="lead">Click on one of the yellow <b class="font-weight-bolder font-italic text-primary">Pull Card</b> buttons below to select a card from the virtual shuffled pile and to place it beneath this section. Once the yellow button is clicked, the card appears in the left upper corner of the section below in overturned mode. Click on the card to reveal its face side and drag it around. Once all desired cards are pulled, drag the cards by placing them in your favourite layout. You can add as many cards as you want.</p>
    <!-- hr class="my-4" -->
    <a name="pull-btn1" class="btn btn-warning font-weight-bold" href="#pull-btn1" onclick="pullNextZoP('zo','000P.jpg','Game Card')">Pull a <strong>Planet</strong> Card</a>
    <a name="pull-btn2" class="btn btn-warning font-weight-bold" href="#pull-btn2" onclick="pullNextZoC('zo','000C.jpg','Game Card')">Pull a <strong>Constellation</strong> Card</a>
    <a name="pull-btn3" class="btn btn-warning font-weight-bold" href="#pull-btn3" onclick="pullNextZoH('zo','000H.jpg','Game Card')">Pull a <strong>House</strong> Card</a> <a class="btn btn-warning" href="#" onclick="refreshPage()"><img src="../../../assets/icons/sync.svg.png"></a>
    <!-- a href="https://www.kickstarter.com/projects/seraphimdossantos/astroracle" class="btn btn-success">Now on Kickstarter</a -->
    <!-- ========= MAIN GAME BOARD ========= -->
    <section id="mainGameBoard" class="border my-4 board bg-light rounded border-dark"></section>
    <p>(Zodiac Oracle images are public domain)</p>
</div>

<script src="../../../assets/scripts/oracle/zo/game.main.js"></script>
<script src="../../../assets/scripts/oracle/zo/base.js"></script>