<link rel="stylesheet" href="{{ "/assets/css/game.css" | relative_url }}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
        <li class="breadcrumb-item"><a href="../main.html">Oracle</a></li>
        <li class="breadcrumb-item"><a href="main.html">Playing Cards</a></li>
        <li class="breadcrumb-item active" aria-current="page">Game</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Playing Cards Oracle Game</h1>
    <!-- img class="img-thumbnail float-left mr-4" src="../../../assets/images/go-splash-1-1024.jpg" alt="" width="200" height="200" -->
    <p class="lead">Click on the <b class="font-weight-bolder font-italic text-primary">Pull Card</b> yellow button below to select a card from the virtual shuffled pile and to place it beneath this section. Once the yellow button clicked, the card appears in the left upper corner of the section below in overturned mode. Click on the card to reveal its face side and drag it around. Once all desired cards are pulled, drag the cards by placing them in your favourite layout. You can add as many cards as you want.</p>
    <!-- hr class="my-4" -->
    <a name="pull-btn" class="btn btn-warning font-weight-bold" href="#pull-btn" onclick="pullNext('PC','back.jpg','Game Card')">Pull Card</a> <a class="btn btn-warning" href="#" onclick="refreshPage()"><img src="{{ "/assets/icons/sync.svg.png" | relative_url }}"></a>
    <!-- ========= MAIN GAME BOARD ========= -->
    <section id="mainGameBoard" class="border my-4 board bg-light rounded border-dark"></section>
    <p>(Playing cards images are from www.acbl.org)</p>
</div>

<script src="{{ "/assets/scripts/games/game.main.js" | relative_url }}"></script>
<script src="{{ "/assets/scripts/games/oracle/go/base.js" | relative_url }}"></script>