<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
        <li class="breadcrumb-item"><a href="../main.html">Tarot</a></li>
        <li class="breadcrumb-item"><a href="main.html">Deck</a></li>
        <li class="breadcrumb-item active" aria-current="page">Game</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Rider-Waite-Smith Tarot Game</h1>
    <!-- img class="img-thumbnail float-left mr-4" src="../../../assets/images/rws-splash-1-1024.jpg" alt="" width="200" height="200" -->
    <p class="lead">Click on the <b class="font-weight-bolder font-italic text-primary">Pull Card</b> yellow button below to select a card from the virtual shuffled pile and to place it beneath this section. Once the yellow button clicked, the card appears in the left upper corner of the section below in overturned mode. Click on the card to reveal its face side and drag it around. Once all desired cards are pulled, drag the cards by placing them in your favourite layout. You can add as many cards as you want.</p>
    <!-- hr class="my-4" -->
    <strong>Select:</strong>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" onchange="resetTarotDeck(this.value)" value="AL" checked>
        <label class="form-check-label" for="inlineRadio1">All cards</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" onchange="resetTarotDeck(this.value)" value="MA">
        <label class="form-check-label" for="inlineRadio2">Major arcana only</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" onchange="resetTarotDeck(this.value)" value="MI">
        <label class="form-check-label" for="inlineRadio3">Minor arcana only</label>
    </div>
    <a name="pull-btn" class="btn btn-warning font-weight-bold" href="#pull-btn" onclick="pullNext('rws','1865.jpg','Game Card')">Pull Card</a> <a class="btn btn-warning" href="#" onclick="refreshPage()"><img src="../../../assets/icons/sync.svg.png"></a>
    <!-- ========= MAIN GAME BOARD ========= -->
    <section id="mainGameBoard" class="border my-4 board bg-light rounded border-dark"></section>
    <p>(Rider-Waite-Smith Tarot images are public domain)</p>
</div>

<script src="../../../assets/scripts/game.main.js"></script>
<script src="../../../assets/scripts/tarot/rws/base.js"></script>