<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{ site.data.translations['page_home_title'][page.lang] }}</li>
  </ol>
</nav>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.translations['index_group_tarot_decks'][page.lang] }}</h1>
  <a href="tarot/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/cbdtm-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.translations['index_group_tarot_deck_def'][page.lang] }}</p>
  <hr class="my-4">
  <p>{{ site.data.translations['index_group_tarot_deck_inv'][page.lang] }}</p>
  <a class="btn btn-primary btn-lg" href="tarot/main.html" role="button">{{ site.data.translations['index_group_tarot_deck_button'][page.lang] }}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.translations['index_group_oracle_game'][page.lang] }}</h1>
  <a href="oracle/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/zo-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.translations['index_group_oracle_game_def'][page.lang] }}</p>
  <br><hr class="my-4">
  <p>{{ site.data.translations['index_group_oracle_game_inv'][page.lang] }}</p>
  <a class="btn btn-primary btn-lg" href="oracle/main.html" role="button">{{ site.data.translations['index_group_oracle_game_button'][page.lang] }}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.translations['index_group_ouija_boards'][page.lang] }}</h1>
  <a href="ouija/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/hb-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.translations['index_group_ouija_boards_def'][page.lang] }}</p>
  <br><hr class="my-4">
  <p>{{ site.data.translations['index_group_ouija_boards_inv'][page.lang] }}</p>
  <a class="btn btn-primary btn-lg" href="ouija/main.html" role="button">{{ site.data.translations['index_group_ouija_boards_button'][page.lang] }}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.translations['index_group_cards_deck'][page.lang] }}</h1>
  <a href="oracle/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/go-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.translations['index_group_cards_deck_def'][page.lang] }}</p>
  <br><hr class="my-4">
  <p>{{ site.data.translations['index_group_cards_deck_inv'][page.lang] }}</p>
  <a class="btn btn-primary btn-lg" href="oracle/main.html" role="button">{{ site.data.translations['index_group_cards_deck_button'][page.lang] }}</a>
</div>