<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{ site.data.locale.[page.lang]['page_home_title'] }}</li>
  </ol>
</nav>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.locale.[page.lang]['index_group_tarot_decks'] }}</h1>
  <a href="tarot/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/cbdtm-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.locale.[page.lang]['index_group_tarot_deck_def'] }}</p>
  <hr class="my-4">
  <p>{{ site.data.locale.[page.lang]['index_group_tarot_deck_inv'] }}</p>
  <a class="btn btn-primary btn-lg" href="tarot/main.html" role="button">{{ site.data.locale.[page.lang]['index_group_tarot_deck_button'] }}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.locale.[page.lang]['index_group_oracle_game'] }}</h1>
  <a href="oracle/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/zo-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.locale.[page.lang]['index_group_oracle_game_def'] }}</p>
  <br><hr class="my-4">
  <p>{{ site.data.locale.[page.lang]['index_group_oracle_game_inv'] }}</p>
  <a class="btn btn-primary btn-lg" href="oracle/main.html" role="button">{{ site.data.locale.[page.lang]['index_group_oracle_game_button'] }}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.locale.[page.lang]['index_group_ouija_boards'] }}</h1>
  <a href="ouija/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/hb-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.locale.[page.lang]['index_group_ouija_boards_def'] }}</p>
  <br><hr class="my-4">
  <p>{{ site.data.locale.[page.lang]['index_group_ouija_boards_inv'] }}</p>
  <a class="btn btn-primary btn-lg" href="ouija/main.html" role="button">{{ site.data.locale.[page.lang]['index_group_ouija_boards_button'] }}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.locale.[page.lang]['index_group_cards_deck'] }}</h1>
  <a href="oracle/main.html"><img class="img-thumbnail  mr-4 float-left" src="{{ "/assets/images/go-splash-1-1024.jpg" | relative_url }}" alt="" width="100" height="100"></a>
  <p class="lead">{{ site.data.locale.[page.lang]['index_group_cards_deck_def'] }}</p>
  <br><hr class="my-4">
  <p>{{ site.data.locale.[page.lang]['index_group_cards_deck_inv'] }}</p>
  <a class="btn btn-primary btn-lg" href="oracle/main.html" role="button">{{ site.data.locale.[page.lang]['index_group_cards_deck_button'] }}</a>
</div>