<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Ouija</a></li>
      <li class="breadcrumb-item active" aria-current="page">Русский</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>


  <div class="jumbotron">
    <h1 class="display-4">Russian Ouija</h1>
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/rb-splash-1-1024.jpg" alt="" width="200" height="200">
    <p class="lead">The Russian language has known a few changes in its existence but for about 150 years it has become the language of millions of people with its very intricate syntax and phonetic. It is presented here as an alternative for the Eastern language speakers and its language and cultural students.</p>
    <p>If you&quote;re learning the Russian or are interested in Slavic languages, the Russian Ouija game is a well suited way of learning Russian. Each card represents a consonant with a Russian word using it and and english phonetic word with the letter highlighted in red to help pronouce it.</p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open board game</a>

  </div>