<!-- todo #13 translate and adapt breadcrumbs -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Ouija</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ελληνική</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Greek Ouija</h1>
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/gb-splash-1-1024.jpg" alt="" width="200" height="200">
    <p class="lead">Greek is a classical language that isn't taught as it used to half a century ago. But for us Anglo-Saxons, Greek is an easy language to learn and the alphabet is very similar to our latin alphabet. Actually, the word "alphabet", comes from the Greek language meaning the first two letters of the Greek alphabet: Alpha and Beta.</p>
    <p>The Greek Ouija board presented here is suitable to the english speaking persons as the Greek alphabet is very similar to the latin alphabet. A person can quickly </p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open board game</a>
  </div>