<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Ouija</a></li>
      <li class="breadcrumb-item active" aria-current="page">עברית</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Hebrew Ouija</h1>
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/hb-splash-1-1024.jpg" alt="" width="200" height="200">
    <p class="lead">Hebrew is a language mostly known for its usage in the Bible and to be the official language of Israel. Left to almost be an erudite language without too much speakers, it is about 150 years ago that the Hebrew language made a huge leap and it is now known to be the main language of millions of people.</p>
    <p>Hebrew is also a mystical artefact of the Kabbalah. Its 22 letters without characters for voyels is one of the best languages to use and get familiar with Ouija games.</p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open board game</a>
  </div>