<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/index.html">{{ site.data.translations['page_home_title'][page.lang] }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ site.data.translations['page_tarot_title'][page.lang] }}</li>
  </ol>
</nav>

<div class="jumbotron">
  <h1 class="display-4">{{ site.data.translations['page_tarot_title'][page.lang] }}</h1>
  <p class="lead">{{ site.data.translations['index_group_tarot_deck_def'][page.lang] }}</p>
  
  <div class="card float-left" style="width: 50%;">
    <a href="rws/main.html"><img src="{{ "/assets/images/rws-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">{{ site.data.translations['deck_rws_name'][page.lang] }}</h5>
      <p class="card-text">{{ site.data.translations['deck_rws_intro'][page.lang] }}</p>
      <a href="rws/main.html" class="btn btn-primary">{{ site.data.translations['game_inv'][page.lang] }}</a>
    </div>
  </div>
  
  <div class="card" style="width: 50%;">
    <a href="cbdtm/main.html"><img src="{{ "/assets/images/cbdtm-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">{{ site.data.translations['deck_tm_name'][page.lang] }}</h5>
      <p class="card-text">{{ site.data.translations['deck_tm_intro'][page.lang] }}</p>
      <a href="cbdtm/main.html" class="btn btn-primary">{{ site.data.translations['game_inv'][page.lang] }}</a>
    </div>
  </div>
</div>
