<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Tarot</a></li>
      <li class="breadcrumb-item active" aria-current="page">Deck</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Rider-Waite-Smith Tarot Deck</h1>        
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/rws-splash-1-1024.jpg" alt="" width="200" height="200"> 
    <p class="lead">From the english school of esoterism, this 100 year old deck is inspired by a secret deck originally produced from the mystical Golden Dawn Order. Composed of a major arcana of 22 cards and a minor arcana with 4 suites inspired from an ancient Mameluk era card game, the magical Rider-Waite-Smith 78 card tarot game has inspired many generations across many social classes for gentrification.</p>
    <p>Elaborated by A. E. Waite and drawn by Pamela Coleman Smith, the images used in this app are the same ones as the famous printed deck and they are preserved and available from public domain for usage by anyone who is interested to expand on it and personaly use them as a study tarot deck.</p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open game</a>
  </div>