<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/index.html">{{ site.data.translations['page_home_title'][page.lang] }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Studio</li>
    </ol>
  </nav>
  
  <div class="jumbotron">
    <h1 class="display-4">{{ site.data.translations['page_oracle_title'][page.lang] }}</h1>
    <ul>
      <li><a href="/{{ page.lang }}/studio/aotuten.html">Astroracle (en)</a></li>
      <li><a href="/{{ page.lang }}/studio/aotutfr.html">Astroracle (fr)</a></li>
      <li><a href="/{{ page.lang }}/studio/SSQ.html">Thoth Playing Cards (Neutral)</a></li>
      <li><a href="/{{ page.lang }}/studio/SSQII-EN.html">Thoth Playing Cards (Vulgar)</a></li>
    </ul>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">{{ site.data.translations['page_tarot_title'][page.lang] }}</h1>
    <ul>
      <li><a href="/{{ page.lang }}/studio/rwstut.html">{{ site.data.translations['deck_rws_name'][page.lang] }}</a></li>
      <li><a href="/{{ page.lang }}/studio/tmcbdtut.html">{{ site.data.translations['deck_tm_name'][page.lang] }}</a></li>
    </ul>
  </div>