<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/{{ page.lang }}">{{ site.data.translations['page_home_title'] }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ site.data.translations['page_ouija_title'] }}</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">{{ page.title }}</h1>
    <p class="lead">{{ site.data.translations['page_ouija_intro'] }}</p>

    <div class="card float-left" style="width: 33%;">
      <a href="gb/main.html"><img src="{{ "/assets/images/gb-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{ site.data.translations['deck_ogr_name'] }}</h5>
        <p class="card-text">{{ site.data.translations['deck_ogr_intro'] }}</p>
        <a href="gb/main.html" class="btn btn-primary">{{ site.data.translations['game_inv'] }}</a>
      </div>
    </div>

    <div class="card float-left" style="width: 33%;">
      <a href="hb/main.html"><img src="{{ "/assets/images/hb-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{ site.data.translations['deck_ohe_name'] }}</h5>
        <p class="card-text">{{ site.data.translations['deck_ohe_intro'] }}</p>
        <a href="hb/main.html" class="btn btn-primary">{{ site.data.translations['game_inv'] }}</a>
      </div>
    </div>

    <div class="card" style="width: 33%;">
      <a href="rb/main.html"><img src="{{ "/assets/images/rb-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{ site.data.translations['deck_oru_name'] }}</h5>
        <p class="card-text">{{ site.data.translations['deck_oru_intro'] }}</p>
        <a href="rb/main.html" class="btn btn-primary">{{ site.data.translations['game_inv'] }}</a>
      </div>
    </div>
  </div>