<!-- todo #13 translate and adapt breadcrumbs -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Oracle</a></li>
      <li class="breadcrumb-item active" aria-current="page">Zodiac</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Zodiac Oracle</h1>
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/zo-splash-1-1024.jpg" alt="" width="200" height="200">
    <p class="lead">This game of oracle has foremost been created to study <strong>Astrology</strong> and I hope astrology students will be tempted to use it also. With 10 cards for the <strong>Planets</strong>, 12 cards for <strong>Constellations</strong>, and 12 cards for the <strong>Houses</strong>, the three card game is quite simple&mdash;pick one from each pile and have your revelation, or pull as many as you want.</p>
    <p>For those unfamiliar with astrology it is still a very simple game. Pull one planet card, one constallation card, and one house card, and along the keywords of each card you'll have parts of a sentence that you be able to decipher.</p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open oracle game</a> <!-- a href="https://www.kickstarter.com/projects/seraphimdossantos/astroracle" class="btn btn-success">Astroracle now available on Kickstarter</a -->
  </div>