<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Tarot</a></li>
      <li class="breadcrumb-item active" aria-current="page">Deck</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">CBD Tarot de Marseille Deck</h1>        
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/cbdtm-splash-1-1024.jpg" alt="" width="200" height="200"> 
    <p class="lead">From the french school of esoterism, this 400 year old and some deck is inspired by an even older deck of cards &mdash; the arabic Mameluk era card game. Composed of a major arcana of 22 cards and a minor arcana with 4 suites, the magical 78 card CBD Tarot de Marseille game has inspired many generations across many social classes for gentrification.</p>
    <p>Originally printed by Nicolas de Conver of Marseille in the 14th century, the images used in this game are the ones meticulously reproduced by Dr. Yoav Ben-Dov and given to the online community for usage by anyone who is interested to personaly use them as a study tarot deck.</p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open game</a>
  </div>