<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../main.html">Home</a></li>
      <li class="breadcrumb-item"><a href="../main.html">Oracle</a></li>
      <li class="breadcrumb-item active" aria-current="page">Playing Cards</li>
      <li class="breadcrumb-item"><a href="game.html">Game</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Playing Cards Oracle</h1>
    <img class="img-thumbnail float-left mr-4" src="../../../assets/images/go-splash-1-1024.jpg" alt="" width="200" height="200">
    <p class="lead">The most popular card deck in the west is the playing cards used to play poker, like the ones you see in the casinos. The deck is actually a French design with similar versions but different symbols across Europe. The well known tarot presented on this website is inspired partially by it, but its roots are laid out acrosse Middle East.</p>
    <p>The playing cards game presented here is almost like the minor arcana of a tarot deck except their is no Knight. Spades are Swords, Hearts are Cups, Clubs are Wands, and Diamonds are Pentacles. With so many tarot decks to make your head go round, this method of divination might become your favourite&mdash;it is mine!</p>
    <hr class="my-4">
    <a href="game.html" class="btn btn-primary">Open oracle game</a>
  </div>