<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html"><img class="rounded" src="{{ "/assets/icons/favicon-96x96.png" | relative_url }}" alt="" width="64" height="64"> AstroTarot.ca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/{{ page.lang }}/index.html">{{ site.data.translations['page_home_title'][page.lang] }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/{{ page.lang }}/tarot/main.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ site.data.translations['page_tarot_title'][page.lang] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/{{ page.lang }}/tarot/rws/main.html">{{ site.data.translations['deck_rws_name'][page.lang] }}</a>
                <a class="dropdown-item" href="/{{ page.lang }}/tarot/cbdtm/main.html">{{ site.data.translations['deck_tm_name'][page.lang] }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/{{ page.lang }}/oracle/main.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ site.data.translations['page_oracle_title'][page.lang] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/{{ page.lang }}/oracle/go/main.html">{{ site.data.translations['deck_pc_name'][page.lang] }}</a>
                <a class="dropdown-item" href="/{{ page.lang }}/oracle/zo/main.html">{{ site.data.translations['deck_ao_name'][page.lang] }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/{{ page.lang }}/ouija/main.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ site.data.translations['page_ouija_title'][page.lang] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/{{ page.lang }}/ouija/gb/main.html">{{ site.data.translations['deck_ogr_name'][page.lang] }}</a>
                    <a class="dropdown-item" href="/{{ page.lang }}/ouija/hb/main.html">{{ site.data.translations['deck_ohe_name'][page.lang] }}</a>
                    <a class="dropdown-item" href="/{{ page.lang }}/ouija/rb/main.html">{{ site.data.translations['deck_oru_name'][page.lang] }}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/{{ page.lang }}/studio/main.html">Studio</a>
            </li>
        </ul>
        <span class="navbar-text">
            {% if page.lang == "en" %}
            <a href="/fr/index.html">Français</a>
            {% else %}
            <a href="/en/index.html">English</a>
            {% endif %}
        </span>
        <span class="navbar-text" id="night_day">
        </span>
    </div>
</nav>
