<link rel="stylesheet" href="{{ "/assets/css/studio/all.css" | relative_url }}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/index.html">{{ site.data.locale.[page.lang]['page_home_title'] }}</a></li>
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/studio/main.html">Studio</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
</nav>

<div class="jumbotron">
	<h2 class="display-4">{{ site.data.locale.[page.lang]['studio_cbdtm_majarc'] }}</h2>
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A1.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A2.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A3.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A4.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A5.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A6.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A7.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A8.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A9.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A10.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A11.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A12.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A13.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A14.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A15.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A16.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A17.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A18.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A19.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A20.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A21.jpg" />
    <img class="at_card rounded ma" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/A22.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_cbdtm_minarc_epees'] }}</h2>
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S1.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S2.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S3.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S4.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S5.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S6.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S7.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S8.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S9.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S10.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S11.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S12.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S13.jpg" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/S14.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_cbdtm_minarc_coupes'] }}</h2>
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C1.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C2.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C3.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C4.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C5.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C6.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C7.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C8.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C9.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C10.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C11.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C12.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C13.jpg" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/C14.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_cbdtm_minarc_batons'] }}</h2>
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W1.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W2.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W3.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W4.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W5.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W6.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W7.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W8.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W9.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W10.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W11.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W12.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W13.jpg" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/W14.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_cbdtm_minarc_deniers'] }}</h2>
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D1.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D2.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D3.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D4.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D5.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D6.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D7.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D8.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D9.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D10.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D11.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D12.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D13.jpg" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/CBDTM-EN/w300px/D14.jpg" />
</div>

<script src="{{ "/assets/scripts/studio/all.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/scripts/studio/rwstut/base.js" | relative_url }}" type="text/javascript"></script>
