<link rel="stylesheet" href="{{ "/assets/css/studio/all.css" | relative_url }}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/index.html">{{ site.data.locale.[page.lang]['page_home_title'] }}</a></li>
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/studio/main.html">Studio</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
</nav>

<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ssq2_minarc_spades'] }}</h2>
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/SA.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S2.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S3.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S4.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S5.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S6.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S7.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S8.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S9.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/S10.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/SJ.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/SQ.png" />
    <img class="at_card rounded minas" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/SK.png" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ssq2_minarc_hearts'] }}</h2>
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/HA.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H2.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H3.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H4.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H5.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H6.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H7.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H8.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H9.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/H10.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/HJ.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/HQ.png" />
    <img class="at_card rounded minac" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/HK.png" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ssq2_minarc_clubs'] }}</h2>
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/CA.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C2.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C3.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C4.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C5.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C6.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C7.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C8.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C9.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/C10.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/CJ.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/CQ.png" />
    <img class="at_card rounded minaw" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/CK.png" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ssq2_minarc_diamonds'] }}</h2>
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/DA.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D2.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D3.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D4.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D5.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D6.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D7.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D8.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D9.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/D10.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/DJ.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/DQ.png" />
    <img class="at_card rounded minad" draggable="true" src="https://medium.astrotarot.ca/SSQII-EN/w300px/DK.png" />
</div>

<script src="{{ "/assets/scripts/studio/all.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/scripts/studio/rwstut/base.js" | relative_url }}" type="text/javascript"></script>