<link rel="stylesheet" href="{{ "/assets/css/studio/all.css" | relative_url }}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/index.html">{{ site.data.locale.[page.lang]['page_home_title'] }}</a></li>
      <li class="breadcrumb-item"><a href="/{{ page.lang }}/studio/main.html">Studio</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
</nav>

<div class="jumbotron">
	<h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ao_planets'] }}</h2>
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P1.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P2.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P3.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P4.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P5.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P6.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P7.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P8.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P9.jpg" />
    <img class="at_card rounded planet" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-P10.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ao_constellations'] }}</h2>
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C1.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C2.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C3.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C4.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C5.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C6.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C7.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C8.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C9.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C10.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C11.jpg" />
    <img class="at_card rounded constellation" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-C12.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ao_houses'] }}</h2>
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M1.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M2.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M3.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M4.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M5.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M6.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M7.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M8.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M9.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M10.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M11.jpg" />
    <img class="at_card rounded house" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-M12.jpg" />
</div>
<div class="jumbotron">
    <h2 class="display-4">{{ site.data.locale.[page.lang]['studio_ao_aspects'] }}</h2>
    <img class="at_card rounded aspect" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-A1.jpg" />
    <img class="at_card rounded aspect" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-A2.jpg" />
    <img class="at_card rounded aspect" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-A3.jpg" />
    <img class="at_card rounded aspect" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-A4.jpg" />
    <img class="at_card rounded aspect" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-A5.jpg" />
    <img class="at_card rounded aspect" src="https://medium.astrotarot.ca/AO-EN/w300px/Astroracle-A6.png" />
</div>

<script src="{{ "/assets/scripts/studio/all.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/scripts/studio/aotut/base.js" | relative_url }}" type="text/javascript"></script>
