<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/{{ page.lang }}">{{ site.data.locale.[page.lang]['page_home_title'] }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ site.data.locale.[page.lang]['page_oracle_title'] }}</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">{{ page.title }}</h1>
    <p class="lead">{{ site.data.locale.[page.lang]['page_oracle_intro'] }}</p>

    <div class="card float-left" style="width: 50%;">
        <a href="go/main.html"><img src="{{ "/assets/images/go-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
        <div class="card-body">
        <h5 class="card-title">{{ site.data.locale.[page.lang]['deck_pc_name'] }}</h5>
        <p class="card-text">{{ site.data.locale.[page.lang]['deck_pc_intro'] }}</p>
        <a href="go/main.html" class="btn btn-primary">{{ site.data.locale.[page.lang]['game_inv'] }}</a>
        </div>
    </div>

    <div class="card" style="width: 50%;">
        <a href="zo/main.html"><img src="{{ "/assets/images/zo-splash-1-1024.jpg" | relative_url }}" class="card-img-top" alt="..."></a>
        <div class="card-body">
        <h5 class="card-title">{{ site.data.locale.[page.lang]['deck_ao_name'] }}</h5>
        <p class="card-text">{{ site.data.locale.[page.lang]['deck_ao_intro'] }}</p>
        <a href="zo/main.html" class="btn btn-primary">{{ site.data.locale.[page.lang]['game_inv'] }}</a>
        </div>
    </div>
</div>